.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 1rem;
}

.add form {
  gap: 20px;
}
.image-upload {
  width: fit-content;
}
.image-upload img {
  width: 120px;
}
.product-name,
.product-description {
  width: max(40%, 250px);
}

.product-name input,
.product-description textarea {
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category-price select,
.add-category-price input {
  width: max(20%, 120px);
  padding: 10px;
}
.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
}

@media (max-width: 750px) {
  .add-category-price p {
    font-size: 0.8rem;
  }

  .add-price input {
    width: 100px;
  }
}
